/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

a {
    color: #333;
    text-decoration: none;
}

header {
    position: relative;
    width: 100%;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffd700;
}

.hero {
    color: black;
    padding-top:30px;
    padding: 0%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

#about {
    padding: 0%;
}
h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.1rem;
    line-height: 1.6;
}

section {
    padding: 4rem 0;
}

.portfolio-grid, .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}

.portfolio-item, .gallery-item {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.portfolio-item:hover, .gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item img {
    width: 100%;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    margin: 0.5rem 0 0.2rem;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #555;
}

ul li a{
    color: rgb(33, 33, 167);
}

footer {

    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
